<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.wei.paperkite</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/node</string>
    <string>__REPO__/dist/src/cli.js</string>
    <string>run</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PAPERKITE_HOME</key>
    <string>__REPO__/data</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
